.nav-grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1px;
  grid-template-areas: "settings home";
}
.settings {
  grid-area: settings;
}
.home {
  color: white;
  grid-area: home;
}

.navbar-brand-fill {
  width: inherit;
}
