

.edit.grid-container {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  grid-template-areas:
    "comments"
    "supervisors";

}

.comments {
  text-align: center;
  grid-area: one;
}

.supervisors {
  text-align: center;
  grid-area: two;
 }
 
.edit-grid-container .btn{
  width:80%;
}


.center-grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 10px;
  grid-template-areas:
    "Left-area center-area right-area";
}
.Left-area { grid-area: Left-area; }
.center-area {
text-align: center;
   grid-area: center-area; }
.right-area { grid-area: right-area; }
