<div class="container" *ngIf="room">
<div class="room-edit-header" >
  <div class="section1">
   <a type="button" class="btn-floating btn-elegant"  [routerLink]="['/room-list']"  ><mdb-icon fas icon="angle-left"></mdb-icon></a>
  </div>
  <div  class="section2">
    <h3 >{{ room.roomNumber }}</h3>
  </div>
  <div  class="section3">
    <a type="button" class="btn-floating btn-elegant"  (click)="addNote()" ><mdb-icon fas icon="plus"></mdb-icon></a>

  </div>
</div>



<mdb-card *ngFor="let note of notes">
  <div class="md-form input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text md-addon" >Notes</span>
    </div>
    <textarea (change)="saveNote(note)" [(ngModel)]="note.content"
     class="md-textarea form-control" aria-label="With textarea"></textarea>
  </div>
</mdb-card>


</div>
