<div class="container" *ngIf="room">
<div class="row">
  <div class="col-xs-6" style="text-align: left;">
   <a type="button" class="btn-floating btn-elegant"  [routerLink]="['/room-list']"  ><mdb-icon fas icon="angle-left"></mdb-icon></a>
  </div>
  <div class="col-xs-6" >
    <h3 >{{ room.roomNumber }}</h3>
  </div>
</div>



<mdb-card *ngFor="let note of notes">
  <div class="md-form input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text md-addon" >Notes</span>
    </div>
    <textarea (change)="saveNote(note,room.key)" [(ngModel)]="note.content"
     class="md-textarea form-control" aria-label="With textarea"></textarea>
  </div>
</mdb-card>


</div>
