

<div class="container">

  <div class="card" *ngIf="auth.userIsAuthenticated()" >
    <div class="card-body">
      <h5 class="card-title animated">Hello {{ auth.user.displayName }} !</h5>
      <p class="card-text">
        Use The left panel for some quick reference.</p>

    </div>
  </div>
  <div class="card" *ngIf="!auth.user" >
    <div class="card-body">
      <h5 class="card-title animated">Not authenticated</h5>
      <p class="card-text">
        Use The left panel to log in.</p>

    </div>
  </div>

</div>


<ngx-auth-firebaseui appearance="standard"></ngx-auth-firebaseui>


