


<div class="container" >
<!--Generating the rooms-->
<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="md-form">
      <input
        type="number"
        [(ngModel)]="from"
        class="form-control"
        id="beginrange"
        mdbInput
      />
      <label for="beginrange">From</label>
    </div>
  </div>
  <div class="col-md-4 mx-auto">
    <div class="md-form">
      <input
        type="number"
        [(ngModel)]="to"
        class="form-control"
        id="endrange"
        mdbInput
      />
      <label for="endrange">To</label>
    </div>
  </div>
  <div class="col-md-4 mx-auto">
    <button class="btn blue-gradient" (click) ="generateRoomNumbers()">Add Room</button>
  </div>
</div>

  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="md-form">

        <input
          type="text"
          [(ngModel)]="searchText"
          class="form-control"
          id="search"
          mdbInput
        />
        <label for="search">Search</label>
      </div>
    </div>
  </div>
  <table mdbTable class="z-depth-1" stickyHeader="true">
    <thead class="sticky-top">
      <tr>
        <th
          *ngFor="let head of headElements;"
          scope="col"
        >
          {{head}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of filteredRooms;">
        <th scope="row">{{room.roomNumber}}</th>
        <td >{{room.latest}}</td>
        <td>Actions</td>

      </tr>
    </tbody>
  </table>
</div>
