


<div class="container" >
  <h3>Add new set of rooms below</h3>
    <!--Generating the rooms-->
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="md-form">
          <input
            type="number"
            [(ngModel)]="from"
            class="form-control"
            id="beginrange"
            mdbInput
          />
          <label for="beginrange">From</label>
        </div>
      </div>
      <div class="col-md-4 mx-auto">
        <div class="md-form">
          <input
            type="number"
            [(ngModel)]="to"
            class="form-control"
            id="endrange"
            mdbInput
          />
          <label for="endrange">To</label>
        </div>
      </div>
      <div class="col-md-4 mx-auto">
        <button class="btn blue-gradient" (click) ="generateRoomNumbers()">Add Room</button>
      </div>
    </div>

      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="md-form">
            <input
              type="text"
              [(ngModel)]="searchText"
              class="form-control"
              id="search"
              mdbInput
            />
            <label for="search">Search</label>
          </div>
        </div>
      </div>

      <table mdbTable class="z-depth-1" stickyHeader="true">
        <thead class="sticky-top">
          <tr>
            <th class="col-xs-3"
              *ngFor="let head of headElements;"
              scope="col"
            >
              {{head}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of filteredRooms;">
            <th scope="row"  class="col-xs-3">
            {{room.roomNumber}}
            </th>
            <td  class="col-xs-3">
              {{room.latest }}


            <td  class="col-xs-3">
              <a type="button" (click)="getDetail(room)" class="btn-floating indigo"><mdb-icon fas icon="edit"></mdb-icon></a>
              <a type="button" class="btn-floating indigo" (click)="removeRoom(room)" ><mdb-icon fas icon="trash-alt"></mdb-icon></a>


            </td>


          </tr>
        </tbody>
      </table>
    </div>
